node-red-payment-ui/flows.json
[{"id":"c813cef0.88306","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f90abc1c.31d35","type":"http response","z":"c813cef0.88306","name":"","statusCode":"","headers":{},"x":294,"y":243,"wires":[]},{"id":"d914a11b.46d1","type":"ui_template","z":"c813cef0.88306","group":"ea7d194a.48a818","name":"Display image","order":4,"width":"0","height":"0","format":"<img width=\"80\" height=\"80\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":704,"y":183,"wires":[[]]},{"id":"2ffddfd0.f6974","type":"http in","z":"c813cef0.88306","name":"","url":"image","method":"post","upload":true,"swaggerDoc":"","x":114,"y":183,"wires":[["f90abc1c.31d35","7ad2ab18.fc8aa4","9f2d30d4.cf90f"]]},{"id":"7ad2ab18.fc8aa4","type":"change","z":"c813cef0.88306","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":324,"y":183,"wires":[["f37e3f4c.af43d"]]},{"id":"f37e3f4c.af43d","type":"base64","z":"c813cef0.88306","name":"Encode","action":"","property":"payload","x":524,"y":183,"wires":[["3ef3b76f.7fdbe8","d914a11b.46d1"]]},{"id":"3ef3b76f.7fdbe8","type":"debug","z":"c813cef0.88306","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":694,"y":123,"wires":[]},{"id":"c5c7edca.b57b7","type":"ui_text","z":"c813cef0.88306","group":"ea7d194a.48a818","order":1,"width":0,"height":0,"name":"","label":"🍦 Cool kids buy ice-cream from Roboy! 🍨","format":"Who wants to be the next cool kid? 😏","layout":"col-center","x":471.6000061035156,"y":367.6000061035156,"wires":[]},{"id":"9f2d30d4.cf90f","type":"debug","z":"c813cef0.88306","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.flavors","targetType":"msg","x":356.6000061035156,"y":103,"wires":[]},{"id":"ea7d194a.48a818","type":"ui_group","z":"","name":"Demo","tab":"1d62b1d1.f57bde","order":8,"disp":true,"width":"7","collapse":false},{"id":"1d62b1d1.f57bde","type":"ui_tab","z":"","name":"Demo","icon":"dashboard","disabled":false,"hidden":false}]