node-red-payment-ui/flows.json
[{"id":"4690f7fa.cdc638","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d65cad5d.309ca","type":"http response","z":"4690f7fa.cdc638","name":"","statusCode":"","headers":{},"x":294,"y":243,"wires":[]},{"id":"b2f060b6.14571","type":"ui_template","z":"4690f7fa.cdc638","group":"ea7d194a.48a818","name":"Display image","order":4,"width":"0","height":"0","format":"<img width=\"80\" height=\"80\" src=\"data:image/png;base64,{{msg.payload}}\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":704,"y":183,"wires":[[]]},{"id":"2a3971ca.56bade","type":"http in","z":"4690f7fa.cdc638","name":"","url":"image","method":"post","upload":true,"swaggerDoc":"","x":114,"y":183,"wires":[["d65cad5d.309ca","68ca32b2.35399c","b8245dbe.d8e96","f0e8c5a6.f262a8","a4beae2.a24715"]]},{"id":"68ca32b2.35399c","type":"change","z":"4690f7fa.cdc638","name":"Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":294,"y":183,"wires":[["f7b7996a.923f48"]]},{"id":"f7b7996a.923f48","type":"base64","z":"4690f7fa.cdc638","name":"Encode","action":"","property":"payload","x":524,"y":183,"wires":[["69007bed.923ee4","b2f060b6.14571"]]},{"id":"69007bed.923ee4","type":"debug","z":"4690f7fa.cdc638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":694,"y":123,"wires":[]},{"id":"5dff7787.33b508","type":"ui_text","z":"4690f7fa.cdc638","group":"135535b2.6be5aa","order":1,"width":0,"height":0,"name":"","label":"🍦 Cool kids buy ice-cream from Roboy! 🍨","format":"Who wants to be the next cool kid? 😏","layout":"col-center","x":519.6000061035156,"y":47.60000514984131,"wires":[]},{"id":"f0301686.5f3838","type":"debug","z":"4690f7fa.cdc638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":722.6000595092773,"y":338.0000057220459,"wires":[]},{"id":"3a994f6.a76fbb","type":"change","z":"4690f7fa.cdc638","name":"Flavors","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.flavors","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":355.60000228881836,"y":321.9999990463257,"wires":[[]]},{"id":"a4beae2.a24715","type":"ui_template","z":"4690f7fa.cdc638","group":"135535b2.6be5aa","name":"Display flavors","order":1,"width":0,"height":0,"format":"<style>\n\n    #tex1 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: red;\n    }\n    \n    #tex2 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: lime;\n    }\n    \n    #tex3 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: aqua;\n    }\n    \n    #tex4 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: white;\n    }\n    \n    #tex5 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: yellow;\n}\n    \n</style>\n\n\n<svg>\n\n\n<text id=\"tex1\" x=\"10\" y=\"10\" > {{msg.payload.flavors[0]}} </text>\n<text id=\"tex1\" x=\"150\" y=\"10\" > {{msg.payload.scoops[0]}} </text>\n\n<text id=\"tex2\" x=\"10\" y=\"30\" > {{msg.payload.flavors[1]}} </text>\n<text id=\"tex2\" x=\"150\" y=\"30\" > {{msg.payload.scoops[1]}} </text>\n\n<text id=\"tex3\" x=\"10\" y=\"50\" > {{msg.payload.flavors[2]}} </text>\n<text id=\"tex3\" x=\"150\" y=\"50\" > {{msg.payload.scoops[2]}} </text>\n\n<text id=\"tex4\" x=\"10\" y=\"70\" > {{msg.payload.flavors[3]}} </text>\n<text id=\"tex4\" x=\"150\" y=\"70\" > {{msg.payload.scoops[3]}} </text>\n\n<text id=\"tex5\" x=\"10\" y=\"90\" > {{msg.payload.flavors[4]}} </text>\n<text id=\"tex5\" x=\"150\" y=\"90\" > {{msg.payload.scoops[4]}} </text>\n\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":529.6000556945801,"y":340.6000061035156,"wires":[["f0301686.5f3838"]]},{"id":"f0e8c5a6.f262a8","type":"change","z":"4690f7fa.cdc638","name":"Payment Option","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.payment_option","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":332.6000061035156,"y":416.0000057220459,"wires":[["c012e8dd.c936a8","95ad66a3.a7b218"]]},{"id":"b8245dbe.d8e96","type":"change","z":"4690f7fa.cdc638","name":"Price","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.price","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":284.60000228881836,"y":468.0000066757202,"wires":[[]]},{"id":"65eb5029.2d582","type":"ui_ui_control","z":"4690f7fa.cdc638","name":"","x":752.6000595092773,"y":413.6000785827637,"wires":[[]]},{"id":"c012e8dd.c936a8","type":"function","z":"4690f7fa.cdc638","name":"Show/Hide QR Code","func":"if(msg.payload === \"1\"){\n    msg.payload = {\"group\":{\"show\":[\"Demo2_Demo\"]}};\n}\nelse{\n    msg.payload = {\"group\":{\"hide\":[\"Demo2_Demo\"]}};\n}\nreturn msg;","outputs":1,"noerr":0,"x":554.6000518798828,"y":415.6000061035156,"wires":[["65eb5029.2d582"]]},{"id":"c2b24de.7edc4b","type":"ui_gauge","z":"4690f7fa.cdc638","name":"","group":"743fe5c.6630f1c","order":2,"width":0,"height":0,"gtype":"gage","title":"Payment Timer","label":"seconds","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1155.5999908447266,"y":471.6000556945801,"wires":[]},{"id":"95ad66a3.a7b218","type":"function","z":"4690f7fa.cdc638","name":"Countdown","func":"if(msg.payload === \"1\"){\n    msg.payload = {\"countdown\" : 120};\n}\nelse{\n    msg.payload = {\"countdown\" : 60};\n}\nmsg.payload.countdown_status = \"start\";\nreturn msg;","outputs":1,"noerr":0,"x":467.6000518798828,"y":499.00000762939453,"wires":[["858d5e47.12d2a","db3f73e9.5dc47"]]},{"id":"858d5e47.12d2a","type":"function","z":"4690f7fa.cdc638","name":"Loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.countdown = context.countdown || msg.payload.countdown;\n// console.log(msg.payload)\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload.countdown_status) {\n\tcase \"stop\":\n\t\tcontext.countdown = context.countdown - 1;\n\t\tmsg.payload.countdown = context.countdown;\n\t\tmsg.payload.countdown_status = \"stop\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg, null];\n\tcase \"start\":\n\t\tmsg.payload.countdown_status = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.countdown = msg.payload.countdown;\n\t\treturn [msg, msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t    if(context.countdown == 1){\n\t\t        context.loop = \"stop\";\n\t\t        msg.payload.countdown_status = \"stop\";\n\t\t        return [msg, msg];\n\t\t    }\n\t\t\tcontext.countdown = context.countdown - 1;\n\t\t\tmsg.payload.countdown = context.countdown;\n\t\t\tmsg.payload.countdown_status = \"loop\";\n\t\t\treturn [msg, msg];\n\t\t} else {\n\t\t\treturn [null, null]; \n\t\t}\n}","outputs":2,"noerr":0,"x":653.6000595092773,"y":502.00000762939453,"wires":[["755abd0e.40a354","69c138b0.bb6278"],["25504db4.801bd2"]]},{"id":"25504db4.801bd2","type":"delay","z":"4690f7fa.cdc638","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":669.6000556945801,"y":656.0000095367432,"wires":[["858d5e47.12d2a"]]},{"id":"755abd0e.40a354","type":"change","z":"4690f7fa.cdc638","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.countdown","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":897.6000442504883,"y":491.00000762939453,"wires":[["c2b24de.7edc4b"]]},{"id":"db3f73e9.5dc47","type":"change","z":"4690f7fa.cdc638","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.countdown","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":842.6000366210938,"y":589,"wires":[["bec25334.a9217"]]},{"id":"bec25334.a9217","type":"function","z":"4690f7fa.cdc638","name":"Set Gauge Max","func":"msg.ui_control = {min:0, max:msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":1048.5999870300293,"y":590.0000095367432,"wires":[["c2b24de.7edc4b"]]},{"id":"69c138b0.bb6278","type":"debug","z":"4690f7fa.cdc638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1007.4000015258789,"y":374.0000057220459,"wires":[]},{"id":"ea7d194a.48a818","type":"ui_group","z":"","name":"QR Code","tab":"19a2d82f.af7e98","order":8,"disp":true,"width":"7","collapse":false},{"id":"135535b2.6be5aa","type":"ui_group","z":"","name":"Info","tab":"19a2d82f.af7e98","disp":true,"width":"6","collapse":false},{"id":"743fe5c.6630f1c","type":"ui_group","z":"","name":"Countdown","tab":"19a2d82f.af7e98","disp":true,"width":"6","collapse":false},{"id":"19a2d82f.af7e98","type":"ui_tab","z":"","name":"Demo2","icon":"dashboard","disabled":false,"hidden":false}]