node-red-payment-ui/flows.json
[{"id":"9b573282.cda64","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b93718e4.269538","type":"http response","z":"9b573282.cda64","name":"","statusCode":"","headers":{},"x":223.00005722045898,"y":214.00001049041748,"wires":[]},{"id":"9a4b839b.d94d8","type":"ui_template","z":"9b573282.cda64","group":"7ab5353c.839b2c","name":"Display QR Code","order":4,"width":"7","height":"7","format":"<img width=\"80\" height=\"80\" src=\"data:image/png;base64,{{msg.payload}}\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1035.0001258850098,"y":344.00000381469727,"wires":[[]]},{"id":"32c32824.4c8258","type":"http in","z":"9b573282.cda64","name":"","url":"image","method":"post","upload":true,"swaggerDoc":"","x":75,"y":281.00000858306885,"wires":[["6cef3a9e.9d45a4","b93718e4.269538"]]},{"id":"e904c883.2f6a18","type":"ui_text","z":"9b573282.cda64","group":"c9874b9e.94bc68","order":1,"width":"8","height":"2","name":"","label":"🍦 Cool kids buy ice-cream from Roboy! 🍨","format":"Who wants to be the next cool kid? 😏","layout":"col-center","x":345.6001510620117,"y":84.59998226165771,"wires":[]},{"id":"b7d5fa2.6a28508","type":"ui_template","z":"9b573282.cda64","group":"a1a58425.8da0c8","name":"Display order summary","order":1,"width":"7","height":"7","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1164.600185394287,"y":426.6000061035156,"wires":[[]]},{"id":"4bdb6f53.f9372","type":"ui_ui_control","z":"9b573282.cda64","name":"","x":964.6003341674805,"y":530.6001415252686,"wires":[[]]},{"id":"5e7b0a3e.5bba04","type":"function","z":"9b573282.cda64","name":"Show/Hide QR Code","func":"if(msg.payload.payment_option === \"1\"){\n    msg.payload = {\"group\":{\"show\":[\"Payment_QRCode\"]}};\n}\nelse{\n    msg.payload = {\"group\":{\"hide\":[\"Payment_QRCode\"]}};\n}\nreturn msg;","outputs":1,"noerr":0,"x":734.6001815795898,"y":530.6000938415527,"wires":[["4bdb6f53.f9372"]]},{"id":"a8aeb77a.7502e8","type":"ui_gauge","z":"9b573282.cda64","name":"","group":"dd1e696a.9c0768","order":2,"width":"7","height":"7","gtype":"donut","title":"Time Remaining","label":"seconds","format":"{{value}}","min":0,"max":"120","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1604.6002388000488,"y":795.6000108718872,"wires":[]},{"id":"41b9136f.97f1bc","type":"function","z":"9b573282.cda64","name":"Countdown / Stop old loop","func":"msg.payload[\"countdown\"] = Number(msg.payload.timer);\nvar start_new_loop = flow.get('start_new_loop') || false;\n\nmsg.payload.countdown_status = \"stop\";\n\nreturn msg;","outputs":1,"noerr":0,"x":736.6001281738281,"y":661.0000343322754,"wires":[["ad66dc89.34b12","dc65ad7f.b51cd","bc6903ad.2120f"]]},{"id":"ad66dc89.34b12","type":"function","z":"9b573282.cda64","name":"Loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.countdown = context.countdown || msg.payload.countdown;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload.countdown_status) {\n\tcase \"stop\":\n\t\tcontext.countdown = context.countdown - 1;\n\t\tmsg.payload.countdown = context.countdown;\n\t\tmsg.payload.countdown_status = \"stop\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg, null];\n\tcase \"start\":\n\t\tmsg.payload.countdown_status = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.countdown = msg.payload.countdown;\n\t\treturn [msg, msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t    if(context.countdown == 1){\n\t\t        context.loop = \"stop\";\n\t\t        msg.payload.countdown_status = \"stop\";\n\t\t        return [msg, msg];\n\t\t    }\n\t\t\tcontext.countdown = context.countdown - 1;\n\t\t\tmsg.payload.countdown = context.countdown;\n\t\t\tmsg.payload.countdown_status = \"loop\";\n\t\t\treturn [msg, msg];\n\t\t} else {\n\t\t\treturn [null, null]; \n\t\t}\n}","outputs":2,"noerr":0,"x":1140.600185394287,"y":687.9999847412109,"wires":[["9c22c186.e42ec"],["15df13f2.eb758c"]]},{"id":"15df13f2.eb758c","type":"delay","z":"9b573282.cda64","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1133.60013961792,"y":833.9999876022339,"wires":[["ad66dc89.34b12"]]},{"id":"9c22c186.e42ec","type":"change","z":"9b573282.cda64","name":"Set countdown","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.countdown","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1362.60013961792,"y":682.9999856948853,"wires":[["a8aeb77a.7502e8"]]},{"id":"ff8f9c53.769aa","type":"function","z":"9b573282.cda64","name":"Set Gauge Max","func":"msg.ui_control = {min:0, max:msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":1353.60013961792,"y":948.9999647140503,"wires":[["a8aeb77a.7502e8"]]},{"id":"dc65ad7f.b51cd","type":"change","z":"9b573282.cda64","name":"Set countdown","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.countdown","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110.600185394287,"y":949.9999647140503,"wires":[["ff8f9c53.769aa"]]},{"id":"6cef3a9e.9d45a4","type":"function","z":"9b573282.cda64","name":"Style Parser","func":"function parseBool(val)\n{\n    if ((typeof val === 'string' && (val.toLowerCase() === 'true' || val.toLowerCase() === 'yes')) || val === 1)\n        return true;\n    else if ((typeof val === 'string' && (val.toLowerCase() === 'false' || val.toLowerCase() === 'no')) || val === 0)\n        return false;\n\n    return null;\n}\n\nflow.set('start_new_loop', true);\n\nif (typeof msg.payload.default !== 'undefined'){\n    msg.payload[\"default\"] = parseBool(msg.payload.default);\n}\nelse{\n    msg.payload[\"default\"] = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":240.40002059936523,"y":279.6000061035156,"wires":[["a7961c2e.9211"]]},{"id":"a7961c2e.9211","type":"switch","z":"9b573282.cda64","name":"Default/Payment Style","property":"payload.default","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":434.40003204345703,"y":278.1999969482422,"wires":[["c55c801c.8629f","1876c72e.fcf2c9","abb9fbf4.338948","db89e546.bb1cd8","1c40172b.4e32f9"],["21688b26.2e73d4","e3dac6d2.340bf8","f43a4a0.95167b8","8099e636.5e4b18","b9171c4b.e42f1","eb5cf78a.14be28","5e7b0a3e.5bba04","41b9136f.97f1bc"]]},{"id":"c55c801c.8629f","type":"function","z":"9b573282.cda64","name":"Hide QRCode","func":"msg.payload = {\"group\":{\"hide\":[\"Payment_QRCode\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":844.6000137329102,"y":157.00000953674316,"wires":[["4a20b452.8a11ac"]]},{"id":"4a20b452.8a11ac","type":"ui_ui_control","z":"9b573282.cda64","name":"","x":1053.2000427246094,"y":166.60000610351562,"wires":[[]]},{"id":"1876c72e.fcf2c9","type":"function","z":"9b573282.cda64","name":"Hide Info","func":"msg.payload = {\"group\":{\"hide\":[\"Payment_Info\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":825.0000114440918,"y":202.6000099182129,"wires":[["4a20b452.8a11ac"]]},{"id":"abb9fbf4.338948","type":"function","z":"9b573282.cda64","name":"Hide Countdown","func":"msg.payload = {\"group\":{\"hide\":[\"Payment_Countdown\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":841.0000114440918,"y":242.6000099182129,"wires":[["4a20b452.8a11ac"]]},{"id":"21688b26.2e73d4","type":"function","z":"9b573282.cda64","name":"Show Info","func":"msg.payload = {\"group\":{\"show\":[\"Payment_Info\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":488.4000129699707,"y":735.3999614715576,"wires":[["9b184cb3.b9a7f"]]},{"id":"e3dac6d2.340bf8","type":"function","z":"9b573282.cda64","name":"Show Countdown","func":"msg.payload = {\"group\":{\"show\":[\"Payment_Countdown\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":514.4000091552734,"y":781.3999633789062,"wires":[["9b184cb3.b9a7f"]]},{"id":"9b184cb3.b9a7f","type":"ui_ui_control","z":"9b573282.cda64","name":"","x":735.000057220459,"y":773.0000114440918,"wires":[[]]},{"id":"db89e546.bb1cd8","type":"function","z":"9b573282.cda64","name":"Show Text","func":"msg.payload = {\"group\":{\"show\":[\"Payment_Default1\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":841.4000244140625,"y":113,"wires":[["4a20b452.8a11ac"]]},{"id":"f43a4a0.95167b8","type":"function","z":"9b573282.cda64","name":"Hide Text","func":"msg.payload = {\"group\":{\"hide\":[\"Payment_Default1\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":490.00000762939453,"y":824.800012588501,"wires":[["9b184cb3.b9a7f"]]},{"id":"8636cea6.73936","type":"ui_template","z":"9b573282.cda64","group":"261de6b6.264d3a","name":"Ice Cream Logo","order":0,"width":0,"height":0,"format":"<img src=\"/roboy_ice_cream.jpg\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":255.40002822875977,"y":142.60000133514404,"wires":[[]]},{"id":"1c40172b.4e32f9","type":"function","z":"9b573282.cda64","name":"Show Icecream","func":"msg.payload = {\"group\":{\"show\":[\"Payment_Icecream\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":852.4000358581543,"y":73.00000095367432,"wires":[["4a20b452.8a11ac"]]},{"id":"8099e636.5e4b18","type":"function","z":"9b573282.cda64","name":"Hide Icecream","func":"msg.payload = {\"group\":{\"hide\":[\"Payment_Icecream\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":512,"y":870,"wires":[["9b184cb3.b9a7f"]]},{"id":"b9171c4b.e42f1","type":"change","z":"9b573282.cda64","name":"QR Code Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.encoded","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":835.6000709533691,"y":344.2000045776367,"wires":[["9a4b839b.d94d8"]]},{"id":"974bf15d.f2e3a","type":"function","z":"9b573282.cda64","name":"Dynamic order table","func":"var htmlstart = '<div align=\"center\"> <table> <tr> <th>Flavor</th> <th>Scoop</th> </tr>'\nvar htmlend = '</table> <br><br/> </div> <div id=\\'price\\'>' + 'Price: '+ msg.payload.price +' €</div>';\nvar style = '<style> @import url(\\'https://fonts.googleapis.com/css?family=Raleway&display=swap\\'); #price{ font-size: 50px; font-weight: normal; font-family: \\'Raleway\\', sans-serif; color: red; } table { font-family: Raleway, sans-serif; border-collapse: collapse; width: 100%; } td, th { border: 1px solid #dddddd; text-align: left; padding: 8px; } table { font-family: Raleway, sans-serif; font-size: 30px; border-collapse: collapse; width: 100%; } td, th { border: 1px solid #dddddd; text-align: left; padding: 8px; } tr:nth-child(odd) { background-color: #dddddd; }</style>';\n\nvar flavors = msg.payload.flavors;\nvar scoops = msg.payload.scoops;\n\nfunction capitalizeFirstLetter(string){\n    return string.charAt(0).toUpperCase() + string.slice(1);\n}\n\nvar table_content = '';\nif(typeof flavors === 'object'){\n    for(i=0; i<flavors.length; i++){\n        table_content += '<tr> <td> ' + capitalizeFirstLetter(flavors[i]) + '</td> <td>' + scoops[i] + '</td> </tr>'\n    }\n}\nelse{\n    table_content += '<tr> <td> ' + capitalizeFirstLetter(flavors) + '</td> <td>' + scoops + '</td> </tr>'\n}\n\nmsg.template = style + htmlstart + table_content + htmlend;\nreturn msg;","outputs":1,"noerr":0,"x":912.0000839233398,"y":427.4000053405762,"wires":[["b7d5fa2.6a28508"]]},{"id":"eb5cf78a.14be28","type":"function","z":"9b573282.cda64","name":"Cent to Euro","func":"msg.payload.price = Number(msg.payload.price)/100\nreturn msg;","outputs":1,"noerr":0,"x":691.1999855041504,"y":427.4000072479248,"wires":[["974bf15d.f2e3a"]]},{"id":"815b05fb.171f28","type":"function","z":"9b573282.cda64","name":"Start a new loop","func":"msg.payload.countdown_status = \"start\";\nreturn msg;","outputs":1,"noerr":0,"x":1180.2000427246094,"y":585.7999839782715,"wires":[["ad66dc89.34b12"]]},{"id":"bc6903ad.2120f","type":"delay","z":"9b573282.cda64","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980.1999893188477,"y":585.7999839782715,"wires":[["815b05fb.171f28"]]},{"id":"7ab5353c.839b2c","type":"ui_group","z":"","name":"QRCode","tab":"eec57c2b.9e577","order":1,"disp":false,"width":"7","collapse":false},{"id":"c9874b9e.94bc68","type":"ui_group","z":"","name":"Default1","tab":"eec57c2b.9e577","order":4,"disp":false,"width":"8","collapse":false},{"id":"a1a58425.8da0c8","type":"ui_group","z":"","name":"Info","tab":"eec57c2b.9e577","order":3,"disp":false,"width":"7","collapse":false},{"id":"dd1e696a.9c0768","type":"ui_group","z":"","name":"Countdown","tab":"eec57c2b.9e577","order":2,"disp":false,"width":"7","collapse":false},{"id":"261de6b6.264d3a","type":"ui_group","z":"","name":"Icecream","tab":"eec57c2b.9e577","order":5,"disp":false,"width":"8","collapse":false},{"id":"eec57c2b.9e577","type":"ui_tab","z":"","name":"Payment","icon":"dashboard","disabled":false,"hidden":false}]